{% extends 'base.html.twig' %}

{% block title %}
    Дашборд
{% endblock %}

{% block body %}
    <main role="main" class="bg-light">
        <section class="jumbotron text-center" id="dashboard-helper">
            <div class="container">
                <h1 class="jumbotron-heading">Экспорт товаров в сообщество ВК</h1>
                <p class="lead text-muted">Здесь вы можете добавить новый экспорт, или изменить настройки
                    существующего</p>
                <p>
                    <a href="{{ path('step_one') }}" class="btn btn-primary my-2">Добавить экспорт</a>
                    <a href="#" class="btn btn-secondary my-2" id="close-dashboard-helper">Закрыть</a>
                </p>
            </div>
        </section>
        <div class="album py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 d-flex align-items-stretch">
                        <div class="card mb-4 box-shadow">
                            <div class="card-body">
                                <h5 class="card-title">Добавить сообщество</h5>
                                <p class="card-text text-muted">Авторизуйтесь во ВКонтакте и настройте передачу данных о
                                    товарах в ваше сообщество</p>
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <small><a href="{{ path('step_one') }}"
                                          class="btn btn-sm btn-success">Добавить</a></small>
                            </div>
                        </div>
                    </div>

                    {% for importTarget in importTargets %}
                        <div data-id="{{ importTarget.id }}"
                             class="col-md-4 d-flex align-items-stretch import-target-card">
                            <div class="card mb-4 box-shadow w-100">
                                <div class="card-body">
                                    <h5 class="card-title d-flex justify-content-between mb-3">{{ importTarget.groupName }}
                                        <a target="_blank"
                                           href="https://vk.com/club{{ importTarget.groupId }}"><img
                                                    src="{{ importTarget.groupPhoto }}" alt=""></a></h5>
                                    {% if importTarget.csvLinkDataSources|length == 0 %}
                                        <p class="card-text text-muted">Не добавлен ни один источник данных</p>
                                    {% else %}
                                        <ul class="list-group">
                                            {% for dataSource in importTarget.csvLinkDataSources %}
                                                {% set validation_class = dataSource.validated ? 'text-success' : 'text-muted'%}
                                                <li class="list-group-item">
                                                    <small class="d-flex justify-content-between"><a href="#"
                                                        >{{ dataSource.sourceLabel }}</a><i
                                                                class="fas fa-check {{ validation_class }}"></i></small>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="dropdown">
                                        <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <small>Добавить источник данных</small>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <small><a class="dropdown-item"
                                                      href="{{ path('add_csv_link_data_source', {'id': importTarget.id}) }}">Ссылка
                                                    на csv-файл</a></small>
                                        </div>
                                    </div>
                                    <button class="btn btn-sm btn-danger delete" type="button">
                                        <small>Удалить</small>
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>

{% endblock %}

