{% extends 'base.html.twig' %}

{% block title %}
    Дашборд
{% endblock %}

{% block body %}
    <main role="main">
        <section class="jumbotron text-center" id="dashboard-helper">
            <div class="container">
                <h1 class="jumbotron-heading">Экспорт товаров в сообщество ВК</h1>
                <p class="lead text-muted">Здесь вы можете добавить новый экспорт, или изменить настройки
                    существующего</p>
                <p>
                    <a href="{{ path('step_one') }}" class="btn btn-primary my-2">Добавить экспорт</a>
                    <a href="#" class="btn btn-secondary my-2" id="close-dashboard-helper">Закрыть</a>
                </p>
            </div>
        </section>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 d-flex align-items-stretch">
                        <div class="card mb-4 box-shadow">
                            <div class="card-body">
                                <h5 class="card-title">Добавить сообщество</h5>
                                <p class="card-text text-muted">Авторизуйтесь во ВКонтакте и настройте передачу данных о товарах в ваше сообщество</p>
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <small><a href="{{ path('step_one') }}" class="card-link">Перейти к созданию</a></small>
                            </div>
                        </div>
                    </div>

                    {% for importTarget in importTargets %}
                        <div class="col-md-4 d-flex align-items-stretch">
                            <div class="card mb-4 box-shadow w-100">
                                <div class="card-body">
                                    <h5 class="card-title d-flex justify-content-between mb-3">{{ importTarget.groupName }} <img
                                                src="{{ importTarget.groupPhoto }}" alt=""></h5>
                                    <h6 class="card-subtitle mb-2 text-muted"><a target="_blank" href="https://vk.com/club{{ importTarget.groupId }}">https://vk.com/club{{ importTarget.groupId }}</a></h6>
                                    <p class="card-text text-muted">Не добавлен ни один источник данных</p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <small><a href="#" class="card-link">Добавить</a></small>
                                    <small><a href="#" class="card-link text-danger">Удалить</a></small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>

    </main>

{% endblock %}

